@import './../constants';

.molotok{
    position: absolute;
    top: 90vw;
    right: 0;
    width: 85%;

    &__img{
        width: 100%;
    }

    @media (min-width: map-get($MEDIA, SM)) {
        top: 17%;
        right: -5%;
        width: 65%;
    }

    @media (min-width: map-get($MEDIA, MD)) {
        top: 10%;
        right: -5%;
        width: 45%;
    }

    @media (min-width: map-get($MEDIA, LG)) {
        top: 5%;
        right: 0;
    }
}