@import './../constants';

.nakovalny{
    position: absolute;
    top: 173vw;
    left: 0;
    width: 70%;

    &__img{
        width: 100%;
    }

    @media (min-width: map-get($MEDIA, SM)) {
        top: 112vw;
        width: 60%;
    }

    @media (min-width: map-get($MEDIA, MD)) {
        top: 61vw;
        width: 50%;
    }

    @media (min-width: map-get($MEDIA, LG)) {
        top: 46vw;
    }

    @media (min-width: map-get($MEDIA, LLG)) {
        top: 43vw;
    }

    @media (min-width: map-get($MEDIA, HD)) {
        top: 28vw;
    }

    @media (min-width: map-get($MEDIA, XL)) {
        top: 20vw;
    }
}