@import './../constants';

body {
  font-family: 'Open Sans', sans-serif;
}

.catalog {
  background-color: dimgrey;
  padding: 2rem 0;

  &__items {

  }

  &__caption {
    font-size: 36px;
    color: #004f9e;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__description {
    font-size: 18px;
    color: #004f9e;
    margin-bottom: 2rem;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.25rem;
    max-width: initial;
  }

  &__item {
    padding: .25rem;
    max-width: 50%;
    flex: 1 0 50%;
    transition: 1s ;

    @media (min-width: map-get($MEDIA, SM)) {
      max-width: 33.333333%;
      flex: 1 0 33.333333%;
    }

    @media (min-width: map-get($MEDIA, MD)) {
      max-width: 25%;
      flex: 1 0 25%;
    }

    @media (min-width: map-get($MEDIA, LG)) {
      max-width: 20%;
      flex: 1 0 20%;
    }
  }
}

