@import './../constants';

.catalog-company {
    background-color: $GREY;

    &__items {
        display: flex;
        flex-wrap: wrap;
        max-width: initial;
        padding: 2.5rem 0;
        margin: -5rem -.25rem 0;
        position: relative;

        @media (min-width: map-get($MEDIA, SM)) {
            margin: 0 -.25rem;
        }

    }

    &__item {
        padding: .25rem;
        max-width: 50%;
        flex: 1 0 50%;

        @media (min-width: map-get($MEDIA, SM)) {
            max-width: 33.333333%;
            flex: 1 0 33.333333%;
        }

        @media (min-width: map-get($MEDIA, MD)) {
            max-width: 25%;
            flex: 1 0 25%;
        }

        @media (min-width: map-get($MEDIA, LG)) {
            max-width: 20%;
            flex: 1 0 20%;
        }
    }
}

