@import './../constants';

.table-format {
    color: $DARK-GRAY;
    font-size: 14px;

    &__line {
        display: flex;

        &:nth-child(even){
            background-color: $GREY-LL;
        }

    }

    &__line-item {
        padding: 6px;
        max-width: 25%;
        flex: 1 0 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--max{
            max-width: 75%;
            flex: 1 0 75%;
        }

        &--header{
            justify-content: initial;
        }
    }

    @media (min-width: map-get($MEDIA, SM)) {
    }

}